header .container {
  display: flex;
  justify-content: space-between;
  height: 120px;
  align-items: center;
}

.header__logo {
  width: 80px;
  height: 35px;
}

.header__filters-title {
  position: relative;
  margin-top: 10px;
}

.glass {
  position: absolute;
  left: 5px;
  top: 10px;
}

#filterTitle {
  width: 100%;
  padding-left: 30px;
  height: 35px;
}

.header__filters-price {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-top: 30px;
}

.header__filters-price-toggle {
  position: relative;
  cursor: pointer;
}

.header__filters-price-button {
  width: 40px;
  height: 20px;
  margin: 0 10px;
  background-color: var(--main-color);
  border-radius: 15px;
}

.header__filters-price-icon--asc,
.header__filters-price-icon--desc {
  border: black solid 1px;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  background-color: white;
  position: absolute;
  text-align: center;
}

.header__filters-price-icon--asc {
  left: 12px;
  top: 2px;
}

.header__filters-price-icon--desc {
  top: 2px;
  right: 12px;
}

.header__price-range {
  display: flex;
  width: 250px;
  align-items: center;
}

.header__price-range-text {
  width: 90px;
}

.header__actions {
  display: flex;
  gap: 70px;
}

.header__auth {
  display: flex;
  gap: 20px;
}

.header__btn {
  height: 30px;
  width: 115px;
  padding: 0 5px;
  border: var(--main-color) solid 1px;
  border-radius: 5px;
  color: white;
  background-color: var(--main-color);
  font-size: 12px;
  cursor: pointer;
}

.header__auth .header__btn {
  background-color: white;
  color: var(--main-color);
}

.header__auth .disconnect-btn {
  color: white;
  background-color: #c2175b;
  border: none;
}

@media (max-width: 768px) {
  main {
    margin: 0 10px;
  }
  header .container {
    flex-direction: column;
    height: auto;
    padding: 0 auto;
  }

  .header__filters-price {
    font-size: 12px;
  }

  .header__price-range {
    width: 220px;
  }

  .header__actions {
    gap: 20px;
  }

  .header__btn {
    width: 105px;
  }
}
